In [13]:
a="hello"
b="laiba"
print(a,b)

hello laiba

In [14]:
a="hello"
b="laiba"
print(a,"",b)

hello  laiba

In [3]:
uni="Quaid A Azam"
len(uni)

12

In [5]:
# input function always give result in string.
f_name=input("Enter the first name:")
l_name=input("Enter the last name:")
print("Name:",f_name,l_name)

Enter the first name: Laiba
Enter the last name: Kiyani

Name: Laiba Kiyani

(# is used for Comment)
Difference between Backspace and delete key?
Ans: The Backspace key delete the character to the left of the cursor,while Delete key deletes the character to the right side of the cursor.

In [7]:
xyz=5+6j
type(xyz)

complex

In [8]:
a=10
b=20
print(a+b)

30

In [9]:
c=a+b
print(c)

30

In [14]:
a=10
print(a)
print('a')
print("a")

10
a
a

In [6]:
a=12
b=2
mul=a*b

In [16]:
# a**b mean a^b
a=12
b=2
print(a**b)

144

In [17]:
abc=a**b
print(abc)

144

In [18]:
l=12
z=2
l/z

6.0

In [21]:
# print("addition:",num1+num2)=print(f"Addition:{num1+num2})
num1=10
num2=5
print(f"Addition:",{num1+num2})

Addition: {15}

In [18]:
print(f"Division:",{num1/num2})

NameError: name 'num1' is not defined

In [19]:
print("Addition:",num1+num2)

NameError: name 'num1' is not defined

In [31]:
# boolean
m=False
type(m)

bool

In [32]:
a=True
type(a)

bool

In [34]:
a,b,c=10,20,30
print(f"a={a},b={b},c={c}")

a=10,b=20,c=30

In [1]:
print("it is a string")

it is a string

In [2]:
# write multiline
story='''
once upon a time.
There was a crow.
He was very thirsty.
'''
print(story)

once upon a time.
There was a crow.
He was very thirsty.

sring is always write in double " " or single ' ' quote

In [3]:
story="""
once upon a time.
There was a crow.
He was very thirsty.
"""
print(story)

once upon a time.
There was a crow.
He was very thirsty.

In [40]:
txt="The best things in life are Free"
print("Free" in txt)

True

In [41]:
print("Expensive" in txt)

False

In [11]:
print("Expensive" not in txt)

NameError: name 'txt' is not defined

In [12]:
str_1="I am student at Quaid_I_Azam university"
str_2="Islamabad"
full=str_1+" "+str_2+"."
print(full)

I am student at Quaid_I_Azam university Islamabad.

In [4]:
# Slicing
b="Hello,World!"
print(b[2:5])

llo

In [7]:
# slice to the end
b="Hello, world!"
print(b[2: ])

llo, world!

In [9]:
# slice from start
b="Hello,world!"
print(b[:6])

Hello,

In [10]:
# negative indexing
b="Hello world"
print(b[-5:-3])

wo

In [13]:
age=22
txt=f"My name is Laiba Kiyani,I am {age}"
print(txt)

My name is Laiba Kiyani,I am 22

In [4]:
# String of Float Conversion
gpa="2.5"
type(gpa)

str

In [5]:
gpa=float(gpa)
type(gpa)

float

In [21]:
gpa=input("GPA:")

GPA: 3.5

In [22]:
print(gpa)

3.5