# programming: Python

In [1]:
print("Hello,World")

Hello,World

In [2]:
age=12
print(age)

12

## data type

In [3]:
type(age)

int

In [4]:
gpa=3.71
print(gpa)

3.71

type(gpa)

In [6]:
name="laiba"
print(name)

laiba

In [7]:
type(name)

str

## List

A list in Python is an ordered,muteable(changeable) collection of items.This means:
ordered: The items have a defined ordered, and that ordered will not change.You can access by their position(Index).
Muteable: You can change ,add or remove item after the list has been created.
Collection: A list can hold items of different data types(integers,float,strings even other lists!).

### 1. Creating list

In [13]:
# empty list
my_list=[]
print(my_list)

[]

In [14]:
# List of Numbers
numbers=[1,2,3,4.5]
print(numbers)

[1, 2, 3, 4.5]

In [15]:
# list of string
fruits=["Apple","Mango","Orange"]
print(fruits)

['Apple', 'Mango', 'Orange']

In [18]:
# List with misx data
mix_list=[1,"Hello",4.5,True]
print(mix_list)

[1, 'Hello', 4.5, True]

In [23]:
# Nested List(list of lists)
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### 2. Accessing List elememt(Indexing)

In [24]:
fruits = ["apple", "banana", "cherry", "date"]

print(fruits[0])   # Output: apple (first element)
print(fruits[2])   # Output: cherry (third element)
print(fruits[-1])  # Output: date (last element)
print(fruits[-3])  # Output: banana (third to last element)

apple
cherry
date
banana

In [26]:
# Accessing elements in a nested list
print(matrix[0][1]) # Output: 2 (element at row 0, column 1)

2

### 3. Slicing List

#### List Slicing
###### Extracts a sub-list from a list using the syntax:
###### list[start:end:step]

#### Parameters:
##### start (optional)

###### Starting index (inclusive).
###### Default: 0 (beginning of the list).
#### end (optional)

###### Ending index (exclusive).
###### Default: len(list) (end of the list).
#### step (optional)

###### Interval between items.
###### Default: 1 (every item).

In [1]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(numbers[2:7])    # Output: [2, 3, 4, 5, 6] (elements from index 2 up to, but not including, index 7)
print(numbers[:5])     # Output: [0, 1, 2, 3, 4] (elements from the beginning up to index 5)
print(numbers[5:])     # Output: [5, 6, 7, 8, 9] (elements from index 5 to the end)
print(numbers[:])      # Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] (a copy of the entire list)
print(numbers[::2])    # Output: [0, 2, 4, 6, 8] (every second element)
print(numbers[::-1])   # Output: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0] (reverse the list)

[2, 3, 4, 5, 6]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 4. Modifying list
#### Chaning element

In [2]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange" # Change 'banana' to 'orange'
print(fruits) # Output: ['apple', 'orange', 'cherry']

['apple', 'orange', 'cherry']

#### Adding element

In [4]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) # Output: [1, 2, 3, 4]

my_list = [1, 2, 3]
my_list.insert(1, 99) # Insert 99 at index 1
print(my_list) # Output: [1, 99, 2, 3]

list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print(list1) # Output: [1, 2, 3, 4, 5]

# You can also use the `+` operator for concatenation, but it creates a new list
list3 = [1, 2]
list4 = [3, 4]
combined_list = list3 + list4
print(combined_list) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]
[1, 99, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

#### Removing Element

In [6]:
my_list = [1, 2, 3, 2, 4]
my_list.remove(2) # Removes the first '2'
print(my_list) # Output: [1, 3, 2, 4]

[1, 3, 2, 4]

In [7]:
my_list = [10, 20, 30, 40]
removed_item = my_list.pop(1) # Removes element at index 1 (20)
print(removed_item) # Output: 20
print(my_list)      # Output: [10, 30, 40]

last_item = my_list.pop() # Removes the last element (40)
print(last_item)  # Output: 40
print(my_list)    # Output: [10, 30]

20
[10, 30, 40]
40
[10, 30]

In [8]:
my_list = [1, 2, 3, 4, 5]
del my_list[2] # Removes element at index 2 (3)
print(my_list) # Output: [1, 2, 4, 5]

del my_list[1:3] # Removes elements from index 1 up to (but not including) index 3
print(my_list) # Output: [1, 5]

[1, 2, 4, 5]
[1, 5]

In [9]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list) # Output: []

[]

In [10]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list)) # Output: 5

5

In [11]:
my_list = ["a", "b", "c", "b"]
print(my_list.index("b")) # Output: 1
print(my_list.index("b", 2)) # Output: 3 (starts searching from index 2)

1
3

In [12]:
my_list = [1, 2, 2, 3, 2, 4]
print(my_list.count(2)) # Output: 3

3

In [13]:
numbers = [3, 1, 4, 1, 5, 9, 2]
numbers.sort()
print(numbers) # Output: [1, 1, 2, 3, 4, 5, 9]

words = ["banana", "apple", "cherry"]
words.sort(reverse=True)
print(words) # Output: ['cherry', 'banana', 'apple']

[1, 1, 2, 3, 4, 5, 9]
['cherry', 'banana', 'apple']

In [15]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list) # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

#### Tuple
A tuple in Python is similar to a list in many ways, but with one crucial difference: tuples are immutable.
- Ordered ✓
Like lists, tuple items have a defined order, and that order will not change. You can access items by their position (index).
- Immutable ✖
Once a tuple is created, you cannot change, add, or remove its items. This is the key distinction from lists.
- Heterogeneous Collection ⊛
A tuple can hold items of different data types (integers, floats, strings, even other lists or tuples).

In [1]:
# Tuple of numbers
numbers_tuple = (1, 2, 3, 4, 5)
print(numbers_tuple) # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [2]:
# Tuple of strings
fruits_tuple = ("apple", "banana", "cherry")
print(fruits_tuple) # Output: ('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

In [3]:
# Tuple with mixed data types
mixed_tuple = (1, "hello", 3.14, False)
print(mixed_tuple) # Output: (1, 'hello', 3.14, False)

(1, 'hello', 3.14, False)

In [4]:
# Nested tuple (tuple of tuples)
coordinates = ((1, 2), (3, 4), (5, 6))
print(coordinates) # Output: ((1, 2), (3, 4), (5, 6))

((1, 2), (3, 4), (5, 6))

In [5]:
fruits_tuple = ("apple", "banana", "cherry", "date")

print(fruits_tuple[0])   # Output: apple (first element)
print(fruits_tuple[2])   # Output: cherry (third element)
print(fruits_tuple[-1])  # Output: date (last element)

apple
cherry
date

In [6]:
# Accessing elements in a nested tuple
nested_tuple = ((10, 20), (30, 40))
print(nested_tuple[0][1]) # Output: 20 (element at tuple 0, index 1)

20

In [7]:
numbers_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print(numbers_tuple[2:7])    # Output: (2, 3, 4, 5, 6)
print(numbers_tuple[:5])     # Output: (0, 1, 2, 3, 4)
print(numbers_tuple[5:])     # Output: (5, 6, 7, 8, 9)
print(numbers_tuple[:])      # Output: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9) (a copy of the entire tuple)
print(numbers_tuple[::2])    # Output: (0, 2, 4, 6, 8)
print(numbers_tuple[::-1])   # Output: (9, 8, 7, 6, 5, 4, 3, 2, 1, 0) (reverse the tuple)

(2, 3, 4, 5, 6)
(0, 1, 2, 3, 4)
(5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 2, 4, 6, 8)
(9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [9]:
my_tuple = (1, 2, 3)

 my_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment
 my_tuple.append(4) # AttributeError: 'tuple' object has no attribute 'append'
 my_tuple.remove(2) # AttributeError: 'tuple' object has no attribute 'remove'
 del my_tuple[1]    # TypeError: 'tuple' object doesn't support item deletion

IndentationError: unexpected indent (454994833.py, line 3)

In [10]:
tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = tuple1 + tuple2
print(combined_tuple) # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [11]:
repeated_tuple = ("a",) * 3
print(repeated_tuple) # Output: ('a', 'a', 'a')

('a', 'a', 'a')

In [12]:
my_tuple = (10, 20, 30)
print(len(my_tuple)) # Output: 3

3

In [13]:
my_tuple = (1, 2, 2, 3, 2)
print(my_tuple.count(2)) # Output: 3

3

In [14]:
my_tuple = ("a", "b", "c")
print(my_tuple.index("b")) # Output: 1

1

In [15]:
my_tuple = ("red", "green", "blue")
print("green" in my_tuple)    # Output: True
print("yellow" not in my_tuple) # Output: True

True
True