In [2]:
import pandas as pd

In [3]:
df4 = pd.read_excel('GM_IM.xlsx')

In [4]:
print(df4)

  Time interval  Outside Exp1  Outside Exp2  Inside Exp1  Inside Exp2
0         0 min          0.19          0.33         0.48         0.13
1        30 min          0.35          0.27         0.31         0.14
2          1 hr          0.39          0.17         0.28         0.24
3          2 hr          0.32          0.26         0.30         0.22

In [11]:
df4.loc[2,'Outside Exp2'] = 500

In [12]:
print(df4)

  Time interval  Outside Exp1  Outside Exp2  Inside Exp1  Inside Exp2  \
0         0 min          0.19          0.33         0.48         0.13
1        30 min          0.35          0.27         0.31         0.14
2          1 hr          0.39        500.00         0.28         0.24
3          2 hr          0.32          0.26         0.30         0.22

   Outside_Exp2023  Outside_Exp2
0              NaN           NaN
1              NaN           NaN
2            500.0         500.0
3              NaN           NaN

## Conditions applying on columns only
to access the same DataFrame

In [25]:
df4[df4['Outside Exp2'] > 0.23]

,Time interval,Outside Exp1,Outside Exp2,Inside Exp1,Inside Exp2,Outside_Exp2023,Outside_Exp2
0,0 min,0.19,0.33,0.48,0.13,NaN,NaN
1,30 min,0.35,0.27,0.31,0.14,NaN,NaN
2,1 hr,0.39,500.00,0.28,0.24,500.0,500.0
3,2 hr,0.32,0.26,0.30,0.22,NaN,NaN

In [18]:


data = {
    "Time_interval": ["0_min", "30_min", "1_hr", "2_hr"],
    "Outside_Exp1": [0.19, 0.35, 0.39, 0.32],
    "Outside_Exp2": [0.33, 0.27, 500.00, 0.26],
    "Inside_Exp1": [0.48, 0.31, 0.28, 0.30],
    "Inside_Exp2": [0.13, 0.14, 0.24, 0.22]
}

df = pd.DataFrame(data)
print(df)

  Time_interval  Outside_Exp1  Outside_Exp2  Inside_Exp1  Inside_Exp2
0         0_min          0.19          0.33         0.48         0.13
1        30_min          0.35          0.27         0.31         0.14
2          1_hr          0.39        500.00         0.28         0.24
3          2_hr          0.32          0.26         0.30         0.22

In [21]:
df['Outside_Exp2'] > 0.23

0    True
1    True
2    True
3    True
Name: Outside_Exp2, dtype: bool

In [26]:
import pandas as pd
import numpy as np

np.random.seed(42)  # for reproducibility

# Define columns (based on your field)
columns = [
    "Sample_ID",
    "Fermentation_Time_hr",
    "pH_Level",
    "Lactic_Acid_%", 
    "Iron_mg_L",
    "Zinc_mg_L",
    "G_candidum_Count_CFU",
    "Lactobacillus_Count_CFU",
    "Viscosity_Pa_s",
    "Sensory_Score"
]

# Create base data
data = {
    "Sample_ID": [f"S{i+1}" for i in range(30)],
    "Fermentation_Time_hr": np.random.choice([0, 1, 2, 4, 6, 8, 12, 24], size=30),
    "pH_Level": np.round(np.random.uniform(3.8, 7.0, size=30), 2),
    "Lactic_Acid_%": np.round(np.random.uniform(0.2, 1.2, size=30), 2),
    "Iron_mg_L": np.round(np.random.uniform(0.5, 4.0, size=30), 2),
    "Zinc_mg_L": np.round(np.random.uniform(0.2, 2.5, size=30), 2),
    "G_candidum_Count_CFU": np.random.randint(1e3, 1e6, size=30),
    "Lactobacillus_Count_CFU": np.random.randint(1e3, 1e6, size=30),
    "Viscosity_Pa_s": np.round(np.random.uniform(1.0, 5.0, size=30), 2),
    "Sensory_Score": np.round(np.random.uniform(5, 9, size=30), 1)
}

# Convert to DataFrame
df1 = pd.DataFrame(data)

# Introduce 20% NaN values randomly
mask = np.random.rand(*df1.shape) < 0.2
df1 = df1.mask(mask)

print(df1)

   Sample_ID  Fermentation_Time_hr  pH_Level  Lactic_Acid_%  Iron_mg_L  \
0         S1                  12.0      4.39           0.86       3.05
1         S2                   4.0       NaN           0.51       3.20
2         S3                   6.0      5.48            NaN       0.76
3         S4                  12.0       NaN           0.75       1.75
4        NaN                   2.0      4.73           0.38       0.91
5        NaN                   NaN      5.76            NaN       3.52
6        NaN                   6.0      4.25           0.98       2.68
7         S8                   6.0      4.73           1.14        NaN
8         S9                   NaN      4.97           1.09       0.72
9        NaN                   1.0      5.26           0.80        NaN
10       S11                   2.0       NaN           1.12        NaN
11       S12                   NaN       NaN           0.29       3.05
12       S13                   2.0       NaN           0.40       2.73
13       S14                   2.0      5.70           0.25       3.61
14       S15                  24.0      3.95           0.53       2.15
15       S16                   6.0      5.74           0.59       0.92
16       S17                   4.0      4.35           0.47       3.00
17       S18                  24.0      4.01           1.03       3.16
18       NaN                  24.0      6.84           0.56       2.46
19       S20                   2.0      6.89           0.48       3.20
20       S21                   8.0      6.39           0.74       2.23
21       S22                   6.0       NaN           0.34       2.33
22       S23                   1.0      4.11           1.00       2.00
23       S24                  24.0      5.99           0.27       0.59
24       NaN                   4.0      5.21           1.19       0.88
25       S26                   8.0       NaN            NaN       0.61
26       S27                   8.0       NaN           0.40        NaN
27       S28                   1.0      3.91           0.21        NaN
28       NaN                  24.0      6.71           1.02       2.28
29       S30                   4.0      4.63           0.91       3.68

    Zinc_mg_L  G_candidum_Count_CFU  Lactobacillus_Count_CFU  Viscosity_Pa_s  \
0        0.77              880989.0                 178789.0            3.03
1        1.14               62087.0                 514153.0            3.78
2         NaN              594128.0                 743452.0            4.43
3        0.73              119451.0                 838291.0            2.30
4        0.38              448600.0                      NaN             NaN
5         NaN              838437.0                 236167.0            3.84
6         NaN              440792.0                 682669.0            4.24
7        2.34               40353.0                      NaN             NaN
8        2.06                   NaN                      NaN            1.38
9         NaN              215283.0                  71467.0            4.76
10        NaN              315877.0                      NaN             NaN
11       2.05               66318.0                 623794.0             NaN
12       0.63              766313.0                 110751.0            4.35
13        NaN              483690.0                 382050.0            3.70
14        NaN              417880.0                 931192.0            3.94
15       2.06              592460.0                      NaN            1.84
16        NaN              741976.0                 693517.0            3.17
17       0.93              782239.0                 462079.0            3.78
18       0.45               94264.0                 369452.0             NaN
19        NaN              771746.0                 970587.0            1.70
20       1.18              814168.0                 107081.0            4.93
21       2.08              226281.0                 984237.0            3.07
22       2.18              638147.0                 614333.0            2.04
23       0.22              899613.0                 559986.0            4.99
24       1.37              395070.0                      NaN            4.86
25       1.16              353228.0                 868055.0            3.23
26       0.71                   NaN                  23671.0            4.53
27       0.48              270536.0                 419400.0            1.75
28        NaN              318824.0                 356528.0             NaN
29       2.37              258426.0                 960611.0             NaN

    Sensory_Score
0             8.4
1             8.4
2             6.6
3             8.6
4             8.4
5             8.7
6             8.1
7             7.7
8             7.3
9             6.5
10            8.8
11            8.9
12            6.1
13            6.2
14            6.9
15            6.8
16            9.0
17            NaN
18            NaN
19            NaN
20            5.7
21            6.5
22            8.0
23            7.9
24            6.2
25            7.2
26            7.0
27            NaN
28            6.0
29            NaN

## Accessing second file in excel

In [29]:
import pandas as pd

# Load Excel file
file_path = "GM_IM.xlsx"  # change this to your actual file name

# Read the 2nd sheet (index 1 because Python starts from 0)
df2 = pd.read_excel(file_path, sheet_name=2)

# Display the data
print(df2.head())

   Time  Inside  Outside
0  2 hr    0.33     0.44
1  4 hr    0.23     0.18
2  6 hr    0.66     0.14

In [44]:
df1.iloc[2, 4]

np.float64(0.76)

In [30]:
df1.isnull()

,Sample_ID,Fermentation_Time_hr,pH_Level,Lactic_Acid_%,Iron_mg_L,Zinc_mg_L,G_candidum_Count_CFU,Lactobacillus_Count_CFU,Viscosity_Pa_s,Sensory_Score
0,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False
2,False,False,False,True,False,True,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,True,True,False
5,True,True,False,True,False,True,False,False,False,False
6,True,False,False,False,False,True,False,False,False,False
7,False,False,False,False,True,False,False,True,True,False
8,False,True,False,False,False,False,True,True,False,False
9,True,False,False,False,True,True,False,False,False,False
10,False,False,True,False,True,True,False,True,True,False
11,False,True,True,False,False,False,False,False,True,False
12,False,False,True,False,False,False,False,False,False,False
13,False,False,False,False,False,True,False,False,False,False
14,False,False,False,False,False,True,False,False,False,False
15,False,False,False,False,False,False,False,True,False,False
16,False,False,False,False,False,True,False,False,False,False
17,False,False,False,False,False,False,False,False,False,True
18,True,False,False,False,False,False,False,False,True,True
19,False,False,False,False,False,True,False,False,False,True
20,False,False,False,False,False,False,False,False,False,False
21,False,False,True,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,True,False,False,False,False,False,False,True,False,False
25,False,False,True,True,False,False,False,False,False,False
26,False,False,True,False,True,False,True,False,False,False
27,False,False,False,False,True,False,False,False,False,True
28,True,False,False,False,False,True,False,False,True,False
29,False,False,False,False,False,False,False,False,True,True

Rows

In [37]:
df1.loc[2].isnull()

Sample_ID                  False
Fermentation_Time_hr       False
pH_Level                   False
Lactic_Acid_%               True
Iron_mg_L                  False
Zinc_mg_L                   True
G_candidum_Count_CFU       False
Lactobacillus_Count_CFU    False
Viscosity_Pa_s             False
Sensory_Score              False
Name: 2, dtype: bool

sum

In [43]:
df1.loc[2].isnull().sum()

np.int64(2)

columns

In [39]:
df1[["Iron_mg_L", "Zinc_mg_L"]].isnull()

    Iron_mg_L  Zinc_mg_L
0       False      False
1       False      False
2       False       True
3       False      False
4       False      False
5       False       True
6       False       True
7        True      False
8       False      False
9        True       True
10       True       True
11      False      False
12      False      False
13      False       True
14      False       True
15      False      False
16      False       True
17      False      False
18      False      False
19      False       True
20      False      False
21      False      False
22      False      False
23      False      False
24      False      False
25      False      False
26       True      False
27       True      False
28      False       True
29      False      False

adding columns

In [42]:
df1[["Iron_mg_L", "Zinc_mg_L"]].isnull().sum()

Iron_mg_L     5
Zinc_mg_L    10
dtype: int64

In [46]:
df1.mean(numeric_only=True)

Fermentation_Time_hr            8.407407
pH_Level                        5.181818
Lactic_Acid_%                   0.678148
Iron_mg_L                       2.218800
Zinc_mg_L                       1.264500
G_candidum_Count_CFU       458827.714286
Lactobacillus_Count_CFU    529263.000000
Viscosity_Pa_s                  3.462609
Sensory_Score                   7.436000
dtype: float64

In [47]:
df1["Iron_mg_L"].mean()

np.float64(2.2188)

In [45]:
# Fill numeric columns with their mean
df1_filled = df1.copy()

for col in df1_filled.columns:
    if df1_filled[col].dtype in ["float64", "int64"]:
        df1_filled[col].fillna(df1_filled[col].mean(), inplace=True)
    else:
        # For text/categorical data (like Sample_ID), fill with mode
        df1_filled[col].fillna(df1_filled[col].mode()[0], inplace=True)

print(df1_filled)

   Sample_ID  Fermentation_Time_hr  pH_Level  Lactic_Acid_%  Iron_mg_L  \
0         S1             12.000000  4.390000       0.860000     3.0500
1         S2              4.000000  5.181818       0.510000     3.2000
2         S3              6.000000  5.480000       0.678148     0.7600
3         S4             12.000000  5.181818       0.750000     1.7500
4         S1              2.000000  4.730000       0.380000     0.9100
5         S1              8.407407  5.760000       0.678148     3.5200
6         S1              6.000000  4.250000       0.980000     2.6800
7         S8              6.000000  4.730000       1.140000     2.2188
8         S9              8.407407  4.970000       1.090000     0.7200
9         S1              1.000000  5.260000       0.800000     2.2188
10       S11              2.000000  5.181818       1.120000     2.2188
11       S12              8.407407  5.181818       0.290000     3.0500
12       S13              2.000000  5.181818       0.400000     2.7300
13       S14              2.000000  5.700000       0.250000     3.6100
14       S15             24.000000  3.950000       0.530000     2.1500
15       S16              6.000000  5.740000       0.590000     0.9200
16       S17              4.000000  4.350000       0.470000     3.0000
17       S18             24.000000  4.010000       1.030000     3.1600
18        S1             24.000000  6.840000       0.560000     2.4600
19       S20              2.000000  6.890000       0.480000     3.2000
20       S21              8.000000  6.390000       0.740000     2.2300
21       S22              6.000000  5.181818       0.340000     2.3300
22       S23              1.000000  4.110000       1.000000     2.0000
23       S24             24.000000  5.990000       0.270000     0.5900
24        S1              4.000000  5.210000       1.190000     0.8800
25       S26              8.000000  5.181818       0.678148     0.6100
26       S27              8.000000  5.181818       0.400000     2.2188
27       S28              1.000000  3.910000       0.210000     2.2188
28        S1             24.000000  6.710000       1.020000     2.2800
29       S30              4.000000  4.630000       0.910000     3.6800

    Zinc_mg_L  G_candidum_Count_CFU  Lactobacillus_Count_CFU  Viscosity_Pa_s  \
0      0.7700         880989.000000                 178789.0        3.030000
1      1.1400          62087.000000                 514153.0        3.780000
2      1.2645         594128.000000                 743452.0        4.430000
3      0.7300         119451.000000                 838291.0        2.300000
4      0.3800         448600.000000                 529263.0        3.462609
5      1.2645         838437.000000                 236167.0        3.840000
6      1.2645         440792.000000                 682669.0        4.240000
7      2.3400          40353.000000                 529263.0        3.462609
8      2.0600         458827.714286                 529263.0        1.380000
9      1.2645         215283.000000                  71467.0        4.760000
10     1.2645         315877.000000                 529263.0        3.462609
11     2.0500          66318.000000                 623794.0        3.462609
12     0.6300         766313.000000                 110751.0        4.350000
13     1.2645         483690.000000                 382050.0        3.700000
14     1.2645         417880.000000                 931192.0        3.940000
15     2.0600         592460.000000                 529263.0        1.840000
16     1.2645         741976.000000                 693517.0        3.170000
17     0.9300         782239.000000                 462079.0        3.780000
18     0.4500          94264.000000                 369452.0        3.462609
19     1.2645         771746.000000                 970587.0        1.700000
20     1.1800         814168.000000                 107081.0        4.930000
21     2.0800         226281.000000                 984237.0        3.070000
22     2.1800         638147.000000                 614333.0        2.040000
23     0.2200         899613.000000                 559986.0        4.990000
24     1.3700         395070.000000                 529263.0        4.860000
25     1.1600         353228.000000                 868055.0        3.230000
26     0.7100         458827.714286                  23671.0        4.530000
27     0.4800         270536.000000                 419400.0        1.750000
28     1.2645         318824.000000                 356528.0        3.462609
29     2.3700         258426.000000                 960611.0        3.462609

    Sensory_Score
0           8.400
1           8.400
2           6.600
3           8.600
4           8.400
5           8.700
6           8.100
7           7.700
8           7.300
9           6.500
10          8.800
11          8.900
12          6.100
13          6.200
14          6.900
15          6.800
16          9.000
17          7.436
18          7.436
19          7.436
20          5.700
21          6.500
22          8.000
23          7.900
24          6.200
25          7.200
26          7.000
27          7.436
28          6.000
29          7.436

C:\Users\Moon\AppData\Local\Temp\ipykernel_15888\2992126880.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1_filled[col].fillna(df1_filled[col].mode()[0], inplace=True)
C:\Users\Moon\AppData\Local\Temp\ipykernel_15888\2992126880.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1_filled[col].fillna(df1_filled[col].mean(), inplace=True)

In [48]:
import pandas as pd
import numpy as np

np.random.seed(42)  # reproducible

# Define columns
columns = [
    "Sample_ID",
    "Iron_Class",
    "Zinc_Class",
    "pH_Level_Class",
    "Lactic_Acid_Class"
]

# Class options
classes = ["Low", "Medium", "High"]

# Create data
data = {
    "Sample_ID": [f"S{i+1}" for i in range(10)]
}

# Fill the remaining 4 columns with random classes
for col in columns[1:]:
    data[col] = np.random.choice(classes, size=10)

# Create DataFrame
df_small_class = pd.DataFrame(data)

# Introduce 20% NaN values randomly (only in class columns)
mask = np.random.rand(*df_small_class.iloc[:, 1:].shape) < 0.2
df_small_class.iloc[:, 1:] = df_small_class.iloc[:, 1:].mask(mask)

# Show dataset with empty values
print(df_small_class)

  Sample_ID Iron_Class Zinc_Class pH_Level_Class Lactic_Acid_Class
0        S1       High       High            Low               NaN
1        S2        Low       High            Low               NaN
2        S3       High        Low         Medium            Medium
3        S4       High        NaN         Medium               NaN
4        S5        Low     Medium            Low              High
5        S6        NaN        Low            Low            Medium
6        S7       High     Medium            Low              High
7        S8     Medium     Medium           High              High
8        S9       High     Medium           High               Low
9       S10       High     Medium            NaN               NaN

In [49]:
# Make a copy to preserve original data
df_filled = df_small_class.copy()

# Fill NaN in each column with the most frequent class (mode)
for col in df_filled.columns[1:]:  # skip Sample_ID
    df_filled[col].fillna(df_filled[col].mode()[0], inplace=True)

# Show the filled dataset
print(df_filled)

  Sample_ID Iron_Class Zinc_Class pH_Level_Class Lactic_Acid_Class
0        S1       High       High            Low              High
1        S2        Low       High            Low              High
2        S3       High        Low         Medium            Medium
3        S4       High     Medium         Medium              High
4        S5        Low     Medium            Low              High
5        S6       High        Low            Low            Medium
6        S7       High     Medium            Low              High
7        S8     Medium     Medium           High              High
8        S9       High     Medium           High               Low
9       S10       High     Medium            Low              High

C:\Users\Moon\AppData\Local\Temp\ipykernel_15888\519637400.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled[col].fillna(df_filled[col].mode()[0], inplace=True)

In [50]:
df1.count()

Sample_ID                  23
Fermentation_Time_hr       27
pH_Level                   22
Lactic_Acid_%              27
Iron_mg_L                  25
Zinc_mg_L                  20
G_candidum_Count_CFU       28
Lactobacillus_Count_CFU    24
Viscosity_Pa_s             23
Sensory_Score              25
dtype: int64

In [51]:
df1["Iron_mg_L"].value_counts()

Iron_mg_L
3.05    2
3.20    2
0.76    1
1.75    1
0.91    1
3.52    1
2.68    1
0.72    1
2.73    1
3.61    1
2.15    1
0.92    1
3.00    1
3.16    1
2.46    1
2.23    1
2.33    1
2.00    1
0.59    1
0.88    1
0.61    1
2.28    1
3.68    1
Name: count, dtype: int64

In [54]:
# Mean
mean_val = df1["Iron_mg_L"].mean()
print("Mean:", mean_val)

# Median
median_val = df1["Iron_mg_L"].median()
print("Median:", median_val)

# Mode (most frequent value)
mode_val = df1["Iron_mg_L"].mode()[0]  # [0] to get the value from the series
print("Mode:", mode_val)

# Average (same as mean)
average_val = df1["Iron_mg_L"].mean()
print("Average:", average_val)

Mean: 2.2188
Median: 2.33
Mode: 3.05
Average: 2.2188

In [55]:
# Maximum value
max_val = df1["Iron_mg_L"].max()
print("Maximum:", max_val)

# Minimum value
min_val = df1["Iron_mg_L"].min()
print("Minimum:", min_val)

# Total / Sum of all values
total_val = df1["Iron_mg_L"].sum()
print("Total:", total_val)

Maximum: 3.68
Minimum: 0.59
Total: 55.47

In [60]:
df1['Lactic_Acid_%'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer