In [1]:
def name():
    print("you did't enter your name")

In [2]:
name()

you did't enter your name

In [6]:
def divide(a,b):
    if a/b==0:
        print("This number is completely divisble")
    else:
        print("This number is not completely divisble")

In [7]:
divide(4,5)

This number is not completely divisble

In [ ]:
def divide(numerator,denominator):
    if denominator==0:
        returm "Error:cannot divide by zero"
    return numerator/denominator

In [21]:
def food_items_price_per_kg(apple,mango):
    if food_items_price_per_kg>=20:
        return "affordable price" 
    return "Price is too much"

In [24]:
def food_items_price_per_kg(apple, mango):
    if apple <= 20 and mango <= 20:
        return "affordable price"
    return "Price is too much"

food_items_price_per_kg(30, 20)

'Price is too much'

In [25]:
def divide(numerator, denominator):
    if denominator == 0:
        return "Error: cannot divide by zero."
    return numerator / denominator

In [27]:
result1=divide(10, 2)
result2=divide(10,0)
print(result1)
print(result2)

5.0
Error: cannot divide by zero.

In [28]:
result1=divide(10, 2)
result2=divide(10,9)
print(result1)
print(result2)

5.0
1.1111111111111112

In [35]:
# keyword arguments
def student_info(name, age, city):
    print(f"Name: {name}, Age: {age}, City: {city}")
info = student_info(age=22, city="rawalpindi", name="Laiba kiyani")
print(info)

Name: Laiba kiyani, Age: 22, City: rawalpindi
None

# positional arguments

In [ ]:

def multiply_sum(a, b, c):  # a,b,c are positional arguments
    return (a + b) * c

result = multiply_sum(2, 3, 4)  # Pass values in correct position
print("Result:", result)

Result: 20

In [ ]:
def multiply_all(*nums):  # accepts any number of positional arguments
    result = 1
    for n in nums:
        result *= n
    return result

print(multiply_all(2, 3, 4, 5))  # Output: 120

240

In [39]:
def add_all(*nums):
    return sum(nums)

print(add_all(2, 5, 7))

14

In [42]:
# average of numbers
def average(*nums):
    return sum(nums) / len(nums)
print(average(4, 6, 8, 10))

7.0

In [41]:
# Find maximum number
def find_max(*nums):
    return max(nums)
print(find_max(3, 9, 1, 7))

9

In [43]:
# Find Minimum
def find_min(*nums):
    return min(nums)
print(find_min(12, 5, 7))

5

In [44]:
# Power of numbers
def powers(base, *exponents):
    return [base**e for e in exponents]
print(powers(2, 3, 4, 5))

[8, 16, 32]

# keyword arguments

In [47]:
# 1. Addition of two numbers
def add(a=0, b=0):
    return a + b
print(add(a=5, b=7))

12

In [48]:
# 2. Area of a rectangle
def area_rect(length=1, width=1):
    return length * width
print(area_rect(length=4, width=6))

24

In [49]:
# 3. Power calculation
def power(base=2, exp=3):
    return base ** exp
print(power(base=5, exp=4))

625

In [50]:
# 4. Average of three numbers
def average(x=0, y=0, z=0):
    return (x + y + z) / 3
print(average(x=4, y=8, z=12))

8.0

In [51]:
# 5. Simple interest
def simple_interest(p=1000, r=5, t=2):
    return (p * r * t) / 100
print(simple_interest(p=2000, r=4, t=3))

240.0

In [56]:
# 6. Area of a circle
def area_circle(radius=1, pi=3.1416):
    return pi * radius**2
print(area_circle(radius=5))

78.53999999999999

In [55]:
# 7. Perimeter of a triangle
def perimeter_triangle(a=1, b=1, c=1):
    return a + b + c
print(perimeter_triangle(a=3, b=4, c=5))

12

In [54]:
# 8. Convert Celsius to Fahrenheit
def c_to_f(c=0):
    return (c * 9/5) + 32
print(c_to_f(c=25))

77.0

In [53]:
# 9. Volume of a cuboid
def volume_cuboid(length=1, width=1, height=1):
    return length * width * height
print(volume_cuboid(length=3, width=4, height=5))

60

In [52]:
# 10. Quadratic evaluation axÂ² + bx + c
def quadratic(a=1, b=0, c=0, x=1):
    return a*x**2 + b*x + c
print(quadratic(a=2, b=3, c=4, x=5))

69