In [ ]:
# Converts all charcters to lowercase
'HELLO'.lower()

'hello'

In [2]:
' i am Laiba kiyani. I am a student of Mathematics. I love coding and programming. '.lower()

' i am laiba kiyani. i am a student of mathematics. i love coding and programming. '

In [6]:
# islower() function checks if all the characters in the string are lowercase
'i am laiba kiyani. i am a student of mathematics. i love coding and programming.'.islower()

True

In [5]:
' I am Laiba kiyani. I am a student of mathematics.I love coding and programming. ' .islower()

False

In [7]:
#  isupper() function checks if all the characters in the string are uppercase
'HELLO'.isupper()

True

In [8]:
'i dream of a better world'.isupper()

False

In [9]:
'i dream my future husband is looking like a prince'.isupper()

False

In [10]:
# upper() function converts all characters to uppercase
'hello'.upper()

'HELLO'

In [11]:
'i am laiba kiyani. i am a student of mathematics. i love coding and programming. '.islower()

True

In [14]:
# count() function counts the number of occurrences of a substring in the given string
'hello world'.count('o')

2

In [16]:
'i am laiba kiyani. i am a student of mathematics. i love coding and programming. '.count('l')

2

In [17]:
# strip() function removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)
'   hello world   '.strip()

'hello world'

In [18]:
' saalmat is a my best friend.    He is very good in studies.   Saalmat is very punctual.    '.strip()

'saalmat is a my best friend.    He is very good in studies.   Saalmat is very punctual.'

In [20]:
# replace() function replaces a string with another string
'hello world'.replace('world', 'universe')

'hello universe'

In [24]:
' Sultan love Fatima. He is very punctual. He is very good in studies. '.replace('Sultan', 'Salamat')

' Salamat love Fatima. He is very punctual. He is very good in studies. '

In [25]:
'hello world'.replace('l', '*')

'he**o wor*d'

In [27]:
# join() function takes all items in an iterable and joins them into one string. A string must be specified as the separator.
'-'.join(['hello', 'world', 'from'])

'hello-world-from'

In [28]:
' '.join(['i', 'am', 'laiba', 'kiyani'])

'i am laiba kiyani'

In [29]:
'*' .join(['1', '2', '3', '4', '5'])

'1*2*3*4*5'

In [32]:
# split() function splits a string into a list where each word is a list item.
'hello world from python'.split()

['hello', 'world', 'from', 'python']

In [40]:
'you are* not a true friend* if you do not help* your friends* in their hard times'.split('*')

['you are',
 ' not a true friend',
 ' if you do not help',
 ' your friends',
 ' in their hard times']

In [41]:
'you-dont-know-me' .split('-')

['you', 'dont', 'know', 'me']

In [43]:
'fatima/sultan/kiyani' .split('/')

['fatima', 'sultan', 'kiyani']

In [45]:
# substring(slicing) 
'python'[1:4]  # it will print from index 1 to index 3

'yth'

In [46]:
'you love me' [4:7]  # it will print from index 4 to index 6

'lov'

In [47]:
'i am laiba kiyani. i am a student of mathematics. i love coding and programming. '[12:20]  # it will print from index 12 to index 19

'iyani. i'

In [56]:
text = 'hello world'
text[1:4]  # it will print from index 1 to index 3

'ell'

In [53]:
text[0:5]  # it will print from index 0 to index 4

'hello'

In [54]:
text[:5]   # it will print from index 0 to index 4

'hello'

In [55]:
text[6:]   # it will print from index 6 to the end of the string

'world'

In [57]:
text[:]    # it will print the whole string

'hello world'

In [ ]:
# Indexing
text = 'hello world'    
text[0]   # it will print the first character of the string

'h'

In [60]:
text[1]   # it will print the second character of the string

'e'

In [61]:
text[-3]  # it will print the third last character of the string

'r'

In [62]:
text[2]   # it will print the third character of the string

'l'

In [63]:

text[-2]  # it will print the second last character of the string

'l'

In [64]:
text[-1]  # it will print the last character of the string

'd'