In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\moon\downloads\new folder\new folder\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\moon\downloads\new folder\new folder\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\moon\downloads\new folder\new folder\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\moon\downloads\new folder\new folder\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\moon\downloads\new folder\new folder\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\moon\downloads\new folder\new folder\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
print(pd.__version__)

2.2.3

## Default index

In [4]:
s = pd.Series([10, 20, 30, 40, 50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

## Manual Index

In [3]:
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(s)

a    10
b    20
c    30
d    40
e    50
dtype: int64

## Standard

In [7]:
data = [10, 20, 30]
labels = ['b', 'c', 'a']
series = pd.Series(data, index=labels)
print(series)

b    10
c    20
a    30
dtype: int64

## Sorting index

In [8]:
series = series.sort_index()
print(series)

a    30
b    10
c    20
dtype: int64

## Sorting Values

In [9]:
series = series.sort_values()
print(series)

b    10
c    20
a    30
dtype: int64

## Accessing Data

In [10]:
print(series['a'])
print(series[['a', 'c']])

30
a    30
c    20
dtype: int64

In [11]:
import pandas as pd

counts = pd.Series({'E_coli': 120, 'S_aureus': 45, 'B_subtilis': 10, 'L_lactis': 25})
print("Counts:\n", counts)
print("\nTop species:\n", counts.sort_values(ascending=False).head(3))

Counts:
 E_coli        120
S_aureus       45
B_subtilis     10
L_lactis       25
dtype: int64

Top species:
 E_coli      120
S_aureus     45
L_lactis     25
dtype: int64